html, body {
  font-family: 'Helvetica Neue', 'Helevetica', 'Arial', 'sans-serif';
  color: #333;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.row {
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: #31D8A0;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #27C895;
}

.button {
  text-align: center;
}

.button-primary {
  padding: 0.6em 1.2em;
  background: #31D8A0;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  transition: background 0.2s;
}

.button-primary:hover,
.button-primary:focus {
  background: #27C895;
  color: #ffffff;
}


/* ======================================= */
/* custom */
/* ======================================= */
.me {
  background-color: #27C895 !important;
  color: #fff;
}
.me:before {
  border-right-color: #27C895 !important;
}


.messages {
  background-image: url("../img/background.jpg");
}

.message {
  margin-bottom: 20px;
}

.message-wrapper{
  width: 100%;
  padding: 3px;
  border-radius: 5px !important;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  background-color: #fff;
  z-index: 0;
  position: relative;
}

.message-wrapper:before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  top: 30px;
  left: -8px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:10px solid #fff;
}

.chat-input {
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.4) !important;
  border: 0 none !important;
  border-radius:5px !important;
  padding: 0;
  padding-left:20px;
  line-height: 35px;
  box-shadow:
    /*0 -1px 0 rgba(255,255,255,0.7) inset,*/
    0 0 15px rgba(0, 0, 0, 0.8) inset;
    /*0 1px 0 rgba(0,0,0,0.7);*/
  color: #fff;
  outline:0;
}

.chat-input:focus {
  border: 1px solid #27C895;
}

.message-content {
  margin-bottom: 5px;
  /*background-color: #fff;*/
}

.send-button {
  width: 36px;
  height: 36px;
  background-image: url("../img/send-button.png");
  background-color: rgba(0,0,0,0);
  background-size: 100% auto;
  text-indent: -9999px;
  outline: 0;
  border: 0;
  /*border-radius: 100%;*/
}

.avatar {
  background-color: #31D8A0;
  text-indent: -9999px;
}

.username, .user-list {
  text-transform: capitalize;
}

.message-wrapper .sent-date {
  display: inline-block;
  float: right;
  color: #000 !important;
  font-size: 0.7em;
}
.message-header:after {
  content: '';
  display: block;
  clear: both;
}


/* ======================================= */
/* Home Page */
/* ======================================= */

main.home {
  padding-top: 100px;
  padding-bottom: 100px;
}

main.home img.logo {
  /*width: 100%;*/
  /*max-width: 400px;*/
}

main.home h3.title {
  color: #969696;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 40px;
}

main.home .button.login,
main.home .button.signup {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

main.home .button.login {
  background: none;
  border: 2px solid #CFCFCF;
  color: #999;
}

main.home .button.login:hover,
main.home .button.login:focus {
  background: none;
  border: 2px solid #31D8A0;
  color: #31D8A0;
}

/* ======================================= */
/* Signup and Login */
/* ======================================= */

main.login,
main.signup {
  padding-top: 100px;
  padding-bottom: 100px;
}

main.login fieldset,
main.signup fieldset {
  padding: 10px 0;
}

main.login fieldset input,
main.signup fieldset input{
  width: 100%;
  padding: 1.4em 0.7em;
}

main.login .button-primary,
main.signup .button-primary {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  margin-top: 40px;
  width: 100%;
}


/* ======================================= */
/* Chat App */
/* ======================================= */

#app {
  height: 100%;
}

/* Header */
header.title-bar {
  padding: 10px 0;
  border-bottom: 1px solid #f1f1f1;
}

header.title-bar img.logo {
  width: 40px;
  vertical-align: middle;
}

header.title-bar span.title {
  color: #969696;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-left: 7px;
}

/* User List Sidebar */

aside.sidebar {
  background: #f8f8f8;
// height: 100%;
  min-width: 30%;
  max-width: 340px;
  padding: 15px;
  border-right: 1px solid #f1f1f1;
}

aside.sidebar .online-count {
  color: #31D8A0;
  margin-right: 5px;
}

aside.sidebar h4 {
  margin: 0 0 20px 0;
  color: #C3C3C3;
}

aside.sidebar .user-list {
  overflow-y: scroll;
}

aside.sidebar li {
  margin: 15px 0;
}

aside.sidebar li > a {
  color: #555555;
}

aside.sidebar li > a:hover > span,
aside.sidebar li > a:focus > span {
  color: #31D8A0;
}

aside.sidebar img.avatar {
  border-radius: 100%;
  height: 45px;
  width: 45px;
  margin-right: 10px;
}

aside.sidebar .username {
  position: absolute;
  line-height: 45px;
}

aside.sidebar footer {
// min-height: 60px;
}

/* Main Chat */

main.chat {
  padding: 10px;
  overflow-y: scroll;
}

main.chat img.avatar {
  border-radius: 100%;
  height: 45px;
  width: 45px;
  flex: none;
}

main.chat .message {
  flex: 0 0 auto;
}

main.chat .message img.avatar {
  margin-right: 10px;
}

main.chat .message p.message-header {
  margin: 0;
  font-size: 0.9em;
}

main.chat .message p.message-header span.sent-date {
  color: #969696;
}

/* Send Message Form */

#app form {
  min-height: 60px;
  padding: 10px 20px;
}

#app form input {
  height: auto !important;
}

#app form button {
  margin-left: 10px;
}
